excel-use-cases/OneNet/EACL-SL-01 v2/IEC62559-3_UC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.SYC.org/IEC62559/part3/UC/V01/Build08082016" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:UC="http://www.SYC.org/IEC62559/part3/UC/V01/Build08082016">
	<xsd:complexType name="Activity">
		<xsd:annotation>
			<xsd:documentation>It may be subdivided into other activities or represent an elementary step of the scenario.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BusinessObject" type="UC:Ref_BusinessObject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This describes briefly the information to be exchanged between the two actors – information producer and information receiver. It may list several information items in one step, comma separated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChildActivity" type="UC:Activity" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>child activities</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Drawing" type="UC:Drawing" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of associated drawing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="event" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>It is the event that triggers the step. This might be completion of previous steps (in that case the event is the comma-separated list of their numbers) or the condition to exit a loop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InformationProducer" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This identifies the producer or source of the information. This should be one of the actors defined in the repository.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InformationReceiver" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This identifies the receiver of the information. This should be one of the actors defined in the repository.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>index of the activity</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryActor" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>reference to the PrimaryActor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="UC:Ref_Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Several requirements may be listed in one step, comma separated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="service" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This column identifies the nature of the information flow and the originator of the information. Available options are CREATE, GET, CHANGE, DELETE, CANCEL, EXECUTE derived from IEC 61968-100:2013.
Additionally, REPORT, TIMER and REPEAT are suggested. 

	- CREATE means that an information object is to be created at the Producer.
	- GET (this is the default value if none is populated) means that the Receiver requests information from the Producer (default).
	- CHANGE means that information is to be updated. Producer updates the Receiver’s information.
	- DELETE means that information is to be deleted. Producer deletes information from the Receiver.
	- CANCEL, CLOSE imply actions related to processes, such as the closure of a work order or the cancellation of a control request.
	- EXECUTE is used when a complex transaction is being conveyed using a service, which potentially contains more than one verb.
	- REPORT is used to represent transferral of unsolicited information or asynchronous information flows. Producer provides information to the Receiver.
	- TIMER is used to represent a waiting period. When using the TIMER service, the Information Producer and Information Receiver fields shall refer to the same actor.
	- REPEAT is used to indicate that a series of steps is repeated until a condition or trigger event. The condition is specified as the text in the "Event" column for this row or step. Following the word REPEAT, the first and last step numbers of the series to be repeated shall appear, in parenthesis, in the following form: REPEAT(X-Y) where X is the first step and Y is the last step.

These common service definitions are related to automation/information or communication systems. In case the use case template is applied in other domains, further services might be used and described.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Drawing">
		<xsd:annotation>
			<xsd:documentation>For clarification, in general it is recommended to provide drawing(s) by hand, by a graphic or as UML graphics (preferred in IEC 62559). The drawing should show interactions which identify the steps where possible.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="drawingType" type="UC:DrawingClassification" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>type of drawing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="URI" type="UC:Resource_String" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>resource Path to an image file
ex: http://www..../image.jpg
or
path to an XMI file with a relative diagram path from the root of the UML model. ex: http://www.../Model.xmi#Package1/Package2/.../DiagName</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DrawingClassification">
		<xsd:annotation>
			<xsd:documentation>possible types of drawing</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="domain overview">
				<xsd:annotation>
					<xsd:documentation>overview of relationships between domains and use cases</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="use case overview">
				<xsd:annotation>
					<xsd:documentation>overview of use case short template information</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="documentation">
				<xsd:annotation>
					<xsd:documentation>additional information about a use case</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="scenarios flowchart">
				<xsd:annotation>
					<xsd:documentation>flowchart of scenarios in a use case</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="scenario overview">
				<xsd:annotation>
					<xsd:documentation>overview of static information related to a scenario</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="activities flowchart">
				<xsd:annotation>
					<xsd:documentation>flowchart of activities for describing a scenario or another activity (in the case of recursive decomposition)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="activity overview">
				<xsd:annotation>
					<xsd:documentation>static information related to an activity</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="business objects overview">
				<xsd:annotation>
					<xsd:documentation>overview of a set of objects used in information exchanges</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>other kind of drawings</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="role model">
				<xsd:annotation>
					<xsd:documentation>overview of role and their relationships</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Resource_String">
		<xsd:annotation>
			<xsd:documentation>String Primitive type</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="UC:Resource_String_value_ValueType">
				<xsd:attribute name="type" use="required" type="UC:ResourceType">
					<xsd:annotation>
						<xsd:documentation>supplementary attribute of the data type</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Resource_String_value_ValueType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResourceType">
		<xsd:annotation>
			<xsd:documentation>list of possible resources</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="image">
				<xsd:annotation>
					<xsd:documentation>any image kind for a resource</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UMLDiagram">
				<xsd:annotation>
					<xsd:documentation>UML kind for a resource</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Ref_Requirement">
		<xsd:annotation>
			<xsd:documentation>requirement of a part of the use case</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Actor">
		<xsd:annotation>
			<xsd:documentation>It is the entity that communicates and interacts.
These actors can include people, software applications, systems, databases, and even the power system itself.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_BusinessObject">
		<xsd:annotation>
			<xsd:documentation>business object exchanged in detailed activity steps</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Actor">
		<xsd:annotation>
			<xsd:documentation>It is the entity that communicates and interacts.
These actors can include people, software applications, systems, databases, and even the power system itself.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>type of the actor (business, system, ...)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActorGrouping">
		<xsd:annotation>
			<xsd:documentation>group of actors used to organize an actor list</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FurtherActorInformation" type="UC:FurtherActorInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>In a context of one use case, an actor grouped into an ActorGrouping may have one FurtherActorInformation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FurtherActorInformation">
		<xsd:annotation>
			<xsd:documentation>Individual or additional information that relates to the use case can be provided.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Actor" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information related to an actor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActorLibrary">
		<xsd:annotation>
			<xsd:documentation>actors of the repository</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Actor" type="UC:Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the actors listed in the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Area">
		<xsd:annotation>
			<xsd:documentation>area of knowledge or activity characterized by a set of concepts and terminology understood by the practitioners in that area</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Author">
		<xsd:annotation>
			<xsd:documentation>This field is used to document who has provided the current version. It can be a person, organization or, for example, standardization committee like a technical committee (TC) or working group (WG).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessCase">
		<xsd:annotation>
			<xsd:documentation>It provides a description or reference with some rationale for the suggested use case. Usually the business case is related to several use cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Area" type="UC:Ref_Area" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Use cases can be used in various areas (e.g. energy system). Within these areas different domains are used to define / determine a more specific subgrouping. One or more domains and zones, comma separated, can be specified in the template.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Area">
		<xsd:annotation>
			<xsd:documentation>area of knowledge or activity characterized by a set of concepts and terminology understood by the practitioners in that area</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessCaseLibrary">
		<xsd:annotation>
			<xsd:documentation>business cases of the repository</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BusinessCase" type="UC:BusinessCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of business cases</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessObject">
		<xsd:annotation>
			<xsd:documentation>business object exchanged in detailed activity steps</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>identification used in references in the use case description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="UC:Ref_Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>It can be used to define requirements related to the information and not to the step as in the step by step analysis.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessObjectLibrary">
		<xsd:annotation>
			<xsd:documentation>business objects which are exchanged in use cases</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BusinessObject" type="UC:BusinessObject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of business objects within the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommonTerm">
		<xsd:annotation>
			<xsd:documentation>It represents a glossary term and its definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommonTermLibrary">
		<xsd:annotation>
			<xsd:documentation>common glossary defining terms for all use cases</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CommonTerm" type="UC:CommonTerm" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of common terms</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Condition">
		<xsd:annotation>
			<xsd:documentation>It describes either a precondition or a postcondition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>index of the condition</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomInformation">
		<xsd:annotation>
			<xsd:documentation>It provides a flexible option to include miscellaneous custom, semi-structured information which does not fit into other parts of the template.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="key" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>unique key for identification purposes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reference" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This field refers to relevant template section.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the corresponding information for the provided key</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="KeyPerformanceIndicator">
		<xsd:annotation>
			<xsd:documentation>Key Performance Indicator (KPI) related to the objectives of the use case</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>unique identifier for the Key Performance Indicator (KPI)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Objective" type="UC:Ref_Objective" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the related objective</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Objective">
		<xsd:annotation>
			<xsd:documentation>objective of the use case</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Narrative">
		<xsd:annotation>
			<xsd:documentation>It describes the narrative of the use case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="completeDescription" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>It provides a complete narrative of the use case from a user’s point of view, describing what occurs when, why, with what expectation, and under what conditions. This narrative should be written in plain text so that non-domain experts can understand it.
The length of the complete description can range from a few sentences to a few pages, depending on the complexity and/or newness of the use case. This description often helps the domain expert to reflect on the requirements for the use case before getting into the details in the next sections of the use case template.
The description may include drawings for explanation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shortDescription" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>It is a short text intended to summarize the main idea as a service for the reader who is searching for a use case or looking for an overview. 
Recommendation: This short description should have not more than 150 words.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Objective">
		<xsd:annotation>
			<xsd:documentation>objective of the use case</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_BusinessCase">
		<xsd:annotation>
			<xsd:documentation>It provides a description or reference with some rationale for the suggested use case. Usually the business case is related to several use cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_CommonTerm">
		<xsd:annotation>
			<xsd:documentation>It represents a glossary term and its definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_UseCase">
		<xsd:annotation>
			<xsd:documentation>specification of a set of actions performed by a system, which yields an observable result that is, typically, of value for one or more actors or other stakeholders of the system </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reference">
		<xsd:annotation>
			<xsd:documentation>Any references that might restrict or affect the design, understanding, and requirements of the use case shall be identified, including contracts, regulations, policies, financial considerations, engineering constraints, pollution constraints, and other environmental quality issues.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="impact" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This information describes the nature of the influence of the document on the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="link" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>If available, a public link to the document can be provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>index of the reference</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="originatorOrganization" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This describes the name of the organization publishing the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>status of the referenced document</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>There are different reference types (e.g. standard, regulation, contract, others like publications).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Remark">
		<xsd:annotation>
			<xsd:documentation>It is used for further comments which are not considered elsewhere.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Requirement">
		<xsd:annotation>
			<xsd:documentation>requirement of a part of the use case</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>identification used in references</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequirementCategory">
		<xsd:annotation>
			<xsd:documentation>Requirements can be sorted in categories. For complex categories the category name can be "dot-delimited".</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>identification used in references</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="UC:Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about the requirement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequirementLibrary">
		<xsd:annotation>
			<xsd:documentation>requirements of the repository</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequirementCategory" type="UC:RequirementCategory" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the category for the requirement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Scenario">
		<xsd:annotation>
			<xsd:documentation>a possible sequence of interactions</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Activity" type="UC:Activity" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of activities for the scenario</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Drawing" type="UC:Drawing" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of associated drawing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>index of the scenario</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Postcondition" type="UC:Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>It describes which condition(s) should prevail after this scenario happens. The post conditions may also define "success" or "failure" conditions for each use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Precondition" type="UC:Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>It describes which condition(s) should have been met before this scenario happens.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryActor" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>It describes which actor triggers this scenario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="UC:Ref_Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about the requirement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TriggeringEvent" type="UC:TriggeringEvent" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of triggering events for the scenario</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TriggeringEvent">
		<xsd:annotation>
			<xsd:documentation>It describes which event triggers a scenario.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseCase">
		<xsd:annotation>
			<xsd:documentation>specification of a set of actions performed by a system, which yields an observable result that is, typically, of value for one or more actors or other stakeholders of the system </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ActorGrouping" type="UC:ActorGrouping" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A use case references several sets of actors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Assumption" type="UC:Assumption" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>set of assumptions related to the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessCase" type="UC:Ref_BusinessCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of business cases associated with the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classification" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>At the international level the use case description might be generic enough to describe a use case in a more general way independently from the national or regional market design. But use cases might be used to describe regional or national specific circumstances like laws or even project specific details. If the use case reflects those circumstances, it should be characterized accordingly.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CommonTerm" type="UC:Ref_CommonTerm" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the associated common terms</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomInformation" type="UC:CustomInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>related additional information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Drawing" type="UC:Drawing" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of associated drawings</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The identification number (ID) of a use case is unique within a repository or project and serves for organization/administration of use cases.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KeyPerformanceIndicator" type="UC:KeyPerformanceIndicator" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about the KPI related to the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keywords" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Keywords can be defined in order to support extended search functionalities within a use case repository. Multiple keywords should be provided as a comma-separated list.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="levelOfDepth" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Use cases can be described on different levels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Narrative" type="UC:Narrative" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the information about the narrative part of the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nature" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>It classifies the main focus of the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prerequisite" type="UC:Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>It describes what condition(s) should have been met before initiation of the use case, such as prior state of the actors and activities.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryActor" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>identification of the PrimaryActor linked to the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prioritization" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>If considering a larger number of use cases, it might be interesting to cluster them according to priority.
This prioritization might be different from country to country.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reference" type="UC:Reference" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about referenced documents</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelatedObjective" type="UC:Objective" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of objectives of the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelatedUseCase" type="UC:Ref_UseCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Known relations to other use cases can be provided here if, for example, the use case is a more detailed one related to a high level use case, or it is an alternative to an existing use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Remark" type="UC:Remark" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>remark associated with the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Scenario" type="UC:Scenario" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>reference to the scenarios belonging to the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="scope" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The scope defines the limits of the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Version" type="UC:Version" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of versions describing changes about the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Version">
		<xsd:annotation>
			<xsd:documentation>version of the use case description</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="approvalStatus" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>information used within the standardization process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Author" type="UC:Author" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of authors participating in the changes of this version</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changes" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>It represents the differences with respect to the previous version.
Multiple changes are separated with paragraphs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="date" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>date of creation of the version, in the format YYYY-MM-DD</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>sequential number to identify the version of the document</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseCaseLibrary">
		<xsd:annotation>
			<xsd:documentation>use cases of the repository</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UseCase" type="UC:UseCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of use cases within the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseCaseRepository_Type">
		<xsd:annotation>
			<xsd:documentation>database, based on a given use cases template, for editing, maintenance and administration of use cases, actors and requirements including their interrelations</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ActorLibrary" type="UC:ActorLibrary" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>library of actors</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AreaLibrary" type="UC:AreaLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the associated library of areas</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessCaseLibrary" type="UC:BusinessCaseLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the library associated with the repository</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessObjectLibrary" type="UC:BusinessObjectLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the library of business objects</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CommonTermLibrary" type="UC:CommonTermLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the associated library of common terms</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequirementLibrary" type="UC:RequirementLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the associated library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UseCaseLibrary" type="UC:UseCaseLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the associated library of use cases</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UseCaseRepository" type="UC:UseCaseRepository_Type"/>
	<xsd:complexType name="AreaLibrary">
		<xsd:annotation>
			<xsd:documentation>areas of the repository</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Area" type="UC:Area" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of areas within the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Assumption">
		<xsd:annotation>
			<xsd:documentation>It may be used to define a further general assumption for a use case, such as which systems already exist, which contractual relations exist, and which configurations of systems are probably in place. Initial states of information exchanged shall also be identified.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>description of the object</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>master resource identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>a short name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>index of the assumption</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
